<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eateasy|Food Delivery Website </title>
    <link rel="shortcut icon" href="../img/icon1.png"  type="image/x-icon">
</head>
<link rel="stylesheet" href="../css/style.css">

<body>

    <nav class="header">
        <div class="left">
            <img src="../img/logo1 - Copy.png" alt="">
            <h2>Eateasy</h2>
        </div>
        <div class="middle">
            <ul>
                <li class="item"><a href="#Landing">Landing</a></li>
                <li class="item"><a href="#Order">Order</a></li>
                <li class="item"><a href="#Contact Us">Contact Us</a></li>
                <li class="item"><a href="#Connect with Us">Connect with Us</a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn">Login/Register</button>
        </div>
    </nav>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                
        Landing Page
        
        ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <section class="landingpage" id="Landing">
        <div class="bikeicon">
            <h2><em>Easy way to order your food..</em></h2>
            <img src="../img/food bike.jpg" alt="">
        </div>

        <div class="imglandingpage">
            <img src="../img/img1.jpg" alt="">
        </div>

        <div class="landingtext">
            <h1>Order Healthy And Fresh Food Anytime</h1>
            <p>Eating healthy food fills your body with energy and nutrients.
                Imagine your cells smiling back at you and saying: “Thank you!”.</p>

            <h2>Cuisines That We Serve : </h2>
            <ul>
                <li><a href="">Burger</a></li>
                <li><a href=""> Pizza</a></li>
                <li><a href=""> Frankie</a></li>
            </ul>
        </div>
    </section>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////

                                SHOP

    //////////////////////////////////////////////////////////////////////////////////////////////-->


    <section class="shop" id="Order">
        <h3>TOP FOODS</h3>
        <h1>Fast Food</h1>

        <nav>
            <div>
                <img src="../img/fastfooddish1.jpg" alt="">
                <img src="../img/fastfooddish2.jpg" alt="">
                <img src="../img/fastfooddish3.jpg" alt="">
                <img src="../img/fastfooddish4.jpg" alt="">
                <img src="../img/fastfooddish5.jpg" alt="">
                <img src="../img/fastfooddish6.jpg" alt="">
                <img src="../img/fastfooddish7.jpg" alt="">
                <img src="../img/fastfooddish8.jpg" alt="">
                <img src="../img/fastfooddish9.jpg" alt="">
                <img src="../img/fastfooddish10.jpg" alt="">
                <img src="../img/fastfooddish11.jpg" alt="">
                <img src="../img/fastfooddish12.jpg" alt="">
            </div>
        </nav>

    </section>
    <!-- 
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                        NEXT Page

    //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



    <section class="burgersection">
        <div></div>
        <div id="burgersectionid">
            <h2>TASTY BURGER</h2>
            <h1>Explore The best Burger Place Near You</h1>
            <h3>Hungry? Let's Meat Up…</h3>
            <h4>You Did Something Today To Deserve A Burger :)</h4>
        </div>
        <div>
            <img src="../img/img3.jpg" alt="">
        </div>
    </section>






    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                              GUIDE

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <section class="guideheading">
        <div id="guideheadingtxt">
            <h2>How it works</h2>
            <h1>Simple Process</h1>
        </div>

        <div class="container">
            <div class="wholebox">
                <div class="text-block">
                    <img src="../img/orderimg1.png" alt="">
                    <h1>Your Order</h1>
                    <p>Thank you for being valued customer. We are so grateful to serving
                        for the honored be clients pleasure of serving hope we meets.</p>
                </div>


                <div class="text-block2">
                    <img src="../img/orderimg2.png" alt="">
                    <h1>Cash On Delivery</h1>
                    <p>Online food Delivery for hiring Food Foodota We appreciate your
                        business, and we’ll do best to continue to give you the new kind.</p>
                </div>

                <div class="text-block3">
                    <img src="../img/orderimg3.png" alt="">
                    <h1>Receive Order</h1>
                    <p>We at truly appreciate your business and we're grateful for the trust
                        you've placed in us. We sincerely hope you are satisfied .</p>
                </div>
            </div>
        </div>

    </section>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////

                                        Meet Our team

    ////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <section class="team">
        <!-- <div>
          <img src="../img/img5.jpg" alt="">
    </div> -->

        <div class="teamheading">
            <h2>Team MEMBERS</h2>
            <h1>Meet Our Best Team</h1>
        </div>

        <!-- <div class="bottom-dots clearfix">
        <span class="dotlinedot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div> -->

        <div class="box-type">
            <div class="box-1">
                <div class="mainbox1">
                    <div class="memb1">
                        <img src="../img/member1.png" alt="">
                    </div>
                    <div class="txtmeb1">
                        <h3>Alizeh Anderson</h3>
                        <p>Senior Chef</p>
                    </div>
                </div>
            </div>

            <div class="box-1">
                <div class="mainbox2">
                    <div class="memb2">
                        <img src="../img/member2.png" alt="">
                    </div>
                    <div class="txtmeb2">
                        <h3>Angelina John Doe</h3>
                        <p>Master Chef</p>
                    </div>
                </div>
            </div>

            <div class="box-1">
                <div class="mainbox3">
                    <div class="memb3">
                        <img src="../img/member3.png" alt="">
                    </div>
                    <div class="txtmeb3">
                        <h3>Andre Smith</h3>
                        <p>Junior Chef</p>
                    </div>
                </div>
            </div>

            <div class="box-1">
                <div class="mainbox4">
                    <div class="memb4">
                        <img src="../img/member4.png" alt="">
                    </div>
                    <div class="txtmeb4">
                        <h3>Christina Chi</h3>
                        <p>Chef Head</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="dayandnight">

            <div class="dayandnightheading">
                <h3>DINE IN OR TAKE AWAY</h3>
                <h1>Get Your Order 24/7 Right At Your Doorsteps</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore numquam atque suscipit ad.
                    Minima harum dolore exercitationem perferendis expedita nesciunt possimus fugit quas velit illum in,
                    cupiditate molestiae facilis incidunt eligendi dolores minus!</p>

                <div class="dayandnightbtn">
                    <button id="btn1">Order Now</button>
                    <button id="btn2">Request A CAll Back</button>
                </div>
            </div>

            <div class="dayandnightimgright">
                <img src="../img/img24x7.png" alt="">
            </div>
        </div>
    </section>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////

                                        Contact Us

    ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <section class="newarival">
        <div class="newarivalheading">
            <h2>NEW ARRIVALS</h2>
            <h1>Get Ready And Stay Tuned</h1>
        </div>

        <div class="newarivalsection">

            <div id="newarivalbox1">
                <div id="newarivalimg">
                    <img src="../img/newarrival1.jpg" alt="">
                </div>
                <div id="newarivalimg1txt">
                    <h2>BURGER</h2>
                    <h1>Burger with French Fries</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Consequuntur minima quia est ullam eveniet placeat amet? Sed maiores voluptatum id.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, porro molestias?</p>
                </div>
            </div>

            <div id="newarivalbox2">
                <div id="newarivalimg2">
                    <img src="../img/newarrival2.jpg" alt="">
                </div>
                <div id="newarivalimg2txt">
                    <h2>BURGER</h2>
                    <h1>Burger with French Fries</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Consequuntur minima quia est ullam eveniet placeat amet? Sed maiores voluptatum id.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, porro molestias?</p>
                </div>
            </div>

            <div id="newarivalbox3">
                <div id="newarivalimg3">
                    <img src="../img/newarrival3.jpg" alt="">
                </div>
                <div id="newarivalimg3txt">
                    <h2>BURGER<h2>
                            <h1>Veg MacAloo tikki with French Fries</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Consequuntur minima quia est ullam eveniet placeat amet? Sed maiores voluptatum id.
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, porro molestias?</p>
                </div>

            </div>
        </div>
    </section>

    <!-- //////////////////////////////////////// Contact US //////////////////////////////////////// -->


    <section class="contactus" id="Contact Us">
        <div class="contactcontainer">
            <div class="contactform">
            <form action="backend.php">
                <div class="form-group">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enter your Phone No.">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Topic">
                </div>
                <div class="form-group-additionaldetails">
                    <input type="text" placeholder="Enter your Additional Details">
                </div>
                <div class="contactbtn">
                    <button>Submit</button>
                </div>
            </form>
        </div>

        <div class="contactustxt">
            <div class="contacttxtheading">
                <h1>How Can We Help?</h1>
                <h2>Queries? Please Get in touch and our Expert Team will Get back to you.</h2>

                <img src="../img/Customer Support.png" alt="">
            </div>
        </div>
        </div>
    </section>


    <!-- ////////////////////////////////////// Footer/////////////////////////////// -->

    <section class="connect" id="Connect with Us">
        <div class="footer">
            <ul>
                <li> <img src="../img/whatsapp icon.png" alt=""> </li>
                <li><img src="../img/facebook icon.png" alt=""></li>
                <li><img src="../img/instagram icon.png" alt=""></li>
                <li><img src="../img/twitter icon.png" alt=""></li>
            </ul>
        </div>
    </section>



</body>

</html>